@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
  background-color: #161719;
  font-family: "Chakra Petch", sans-serif;
}

section {
  width: 1200px;
  margin: 0 auto;
}

header .logotipo {
  float: left;
}

header .suporte {
  float: right;
}

.logotipo img {
  width: 120px;
}

.suporte a {
  text-decoration: none;
  color: #2ac432;
  padding: 13px;
  border-radius: 30px;
  background-color: #ffffff;

}

.suporte {
  margin-top: 20px;
}

.menuitem li {
  display: inline-block;
  padding: 20px;
}

.menu,
.menuitem {
  display: inline;
}

.header {
  margin: 20px 0;
}

.menuitem li a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 10px;


}

.menu {
  margin: 0 50px;
}

.menuitem li a:hover {
  color: #f1ef45;
  border-bottom: 1.5px solid #f1ef45;
  transition: 0.3s;

}

.hover {
  opacity: 1;
  transition: 0.3s;
}

.hover:hover {
  opacity: 0.7;
  transition: 0.3s;

}

header {
  border-bottom: 1px solid #ffffff;
  z-index: 2;
  position: relative;

}

.slider {
  background-image: url(hod.jpg);
  height: 800px;
  background-attachment: fixed;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  top: -150px;
  position: relative;
  opacity: 0.4;


}

h1 {
  text-align: center;
  top: 150px;
  position: relative;
  color: #ffffff;
  font-size: 35px;
  z-index: 3;
  font-weight: bold;

}

.destaques .item {
  width: 15%;
  display: inline-block;
  margin: 0.5%;
  position: relative;

}

.destaques .titulo {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  background-image: linear-gradient(to top, #000, #ffffff00);
  bottom: 0;
  width: 100%;
  padding-bottom: 25px;
}

.destaques .imagem img {
  width: 100%;
  max-height: 230px;
}

.destaques .imagem {
  border-radius: 10px;
  overflow: hidden;
}

.destaques {
  text-align: center;
}

.titulo-categoria {
  color: white;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  padding: 20px;
  background: #060708;
  margin: 20px 0;
  border-radius: 20px;
}

footer {
  background: #060708;
  color: white;
  font-size: 20px;
  padding: 50px 0;
  line-height: 40px;
  text-align: center;
  margin-top: 50px;
}


footer a {
  color: white;
  text-decoration: none;

}

.sociais li {
  display: inline-block;
}

.col {
  width: 30%;
  display: inline-block;
}

footer i {
  font-size: 40px;
  padding: 5px;
}

.mostrar-mobile{
display: none;
}

.esconder-mobile{
  display: block;
}

@media (max-width: 480px) {
  .mostrar-mobile{
    display: block;
  }
  .esconder-mobile{
    display: none;
  }
  section{
    width: 100%;
  }

  .destaques .item{
    width: 100%;
  }

  .destaques .imagem img{
    height: auto;
  }

  .item{
    max-width: 380px;
    
  }

  .destaques{
    text-align: center;
  }
}